<div class="row  justify-content-center">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Add to Story
      </div>
      <div class="card-body">
        
      </div>
    </div>

  </div>
</div>
